@model ColetaApi.Models.ColetaModel

@{
    ViewData["Title"] = "Update";
}

<h1>Alterar coleta</h1>

<h4>Altere as coletas de acordo com suas expectativas.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pk_id" />
            <div class="form-group">
                <label asp-for="Ds_coleta" class="control-label">Coleta</label>
                <input asp-for="Ds_coleta" class="form-control" />
                <span asp-validation-for="Ds_coleta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ds_tipocoleta" class="control-label">Tipo de coleta</label>
                <input asp-for="Ds_tipocoleta" class="form-control" />
                <span asp-validation-for="Ds_tipocoleta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dt_coleta" class="control-label">Data da coleta</label>
                <input asp-for="Dt_coleta" class="form-control" />
                <span asp-validation-for="Dt_coleta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
