@{
    ViewData["Title"] = "Home Page";
}

    <title>Bem-vindo!</title>
    <style>

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

            .btn:hover {
                background-color: #0056b3;
            }
    </style>

    <div class="container">
        <h2>Bem-vindo ao aplicação web de coleta!</h2>
        <h6>Crie sua programação de coleta de lixo.</h6>        
        <a href="@Url.Action("Index", "Coleta")" class="btn">Administrar coletas</a>
    </div>


